/* ------------------------------3 задание----------------------------------- */
/* body {
    padding-top: 50px;
    
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.item {
    list-style-type: none;
 
}

.picture {
    width: 600px;
} */
/* ------------------------------------------------------------------------- */
/* -------------------------------4 задание--------------------------------- */


/* body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 32px;
} */


/* -------------------------------6 задание-------------------------------- */
/* #validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
} */




